@import '../../styles/core-mixins.scss';

.WrapGrid {
  @include flexRow;
  @include flexWrap;
  width: 100%;
  height: 100%;
}

.ScatterBoxes {
  position: relative;
  width: 100%;
  height: 100%;
}
