@import '../../styles/core-mixins.scss';

.World {
  @include flexRow;
  @include flexWrap;
  width: 500px;
  height: 500px;
  position: relative;
}

.World-cell {
  width: 30px;
  height: 30px;
}

.World-canvas {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
